.seccionhomepage {
  font-family: "Inter", sans-serif;
  font-size: 1.2rem;
  border-radius: 3px 3px 0px 0px;
  -moz-border-radius: 3px 3px 0px 0px;
  -webkit-border-radius: 3px 3px 0px 0px;
  color: #42a2f0;
  font-weight: 600;
  margin-top: 15px;
  display: flex;
}

.contenthomepage {
  font-size: 0.9rem;
  border-radius: 0px 0px 3px 3px;
  -moz-border-radius: 0px 0px 3px 3px;
  -webkit-border-radius: 0px 0px 3px 3px;
}
