.crea-subtitle {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  background-color: black;
  color: white;
}

.crea-inputtext {
  padding: 5px;
  font-size: 1.5rem;
  font-family: "Montserrat", sans-serif;
  width: 100%;
  border-radius: 0.1rem;
  border: 1px solid #f0f0f0;
  margin-bottom: 10px;
  text-align: center;
}

.crea-inputtext:hover {
  border: 1px solid;
}

.crea-textarea {
  padding: 5px;
  font-size: 14px;
  font-family: "Roboto Mono", monospace;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #f0f0f0;
  height: 100px;
}

.crea-select {
  padding: 4px;
  font-size: 14px;
  font-family: "Roboto Mono", monospace;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #f0f0f0;
  margin-bottom: 10px;
}

#preview img {
  display: block;
  margin: auto;
  border-radius: 0.5rem;
  max-height: 25rem;
  max-width: 90%;
  margin: 0.5rem;
}

#image-js {
  margin: auto;
  display: block;
}

#counted {
  font-family: "Roboto", sans-serif;
  color: #2c2c2c;
}
